<div class="table-responsive-sm">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Creation date</th>
        <th scope="col">Finished</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let game of history?.games'>
        <th>{{ game.id }}</th>
        <td>{{ game.creationDate | date:'MM/dd/yyyy hh:mm:ss' }}</td>
        <td>{{ game.finished }}</td>
        <td><button class="btn btn-dark" (click)='onGetDetailsClick(game.id)'>Details</button></td>
      </tr>
    </tbody>
  </table>
</div>
<app-pagination [size] ="3" [current]="1" [totalCountOfPages]="history?.pagination?.totalPagesCount" (pageChanged)="onPageChanged($event)"></app-pagination>
