<div *ngIf="!hidden" class="row justify-content-center">

  <ul class="pagination">
    <li *ngIf="firstValue > 1" class="page-item"><a class="page-link" (click)="currentPage = 1">1</a></li>
    <li *ngIf="firstValue > 2" class="page-item"><a class="page-link">...</a></li>
    <li *ngFor="let v of values" [class]="current === v ? 'page-item active' : 'page-item' ">
      <a class="page-link" (click)="currentPage = v">{{ v }}</a>
    </li>
    <li *ngIf="lastValue < totalCountOfPages - 1" class="page-item"><a class="page-link">...</a></li>
    <li *ngIf="lastValue < totalCountOfPages" class="page-item"><a class="page-link" (click)="currentPage = totalCountOfPages">{{ totalCountOfPages }}</a></li>
  </ul>
</div>
