<div class="row justify-content-center mt-5 pt-5">
  <div class="col-md-8 col-lg-6">
    <div class="panel-heading border-dark rounded-top p-2">
      Log in
    </div>
    <div class="rounded-bottom border-dark border-top-0 pt-3 p-4">
      <form [formGroup]="logInForm" (ngSubmit)="onLogInSubmit()">
        <!-- username input -->
        <div class="input-group mt-2">
          <div class="input-group-prepend">
            <span class="input-group-text span-min-width">Username</span>
          </div>
          <input type="text" class="form-control" formControlName="username" [(ngModel)]="model.username">
        </div>
        <div *ngIf="submitted && formControls.username.errors" class="error-message">
          <div *ngIf="formControls.username.errors.required">Please full out this field</div>
          <div *ngIf="formControls.username.errors.minlength">Make sure it's more than 6 characters</div>
        </div>
        <!-- password input -->
        <div class="input-group mt-2">
          <div class="input-group-prepend">
            <span class="input-group-text span-min-width">Password</span>
          </div>
          <input type="password" class="form-control" formControlName="password" [(ngModel)]="model.password">
        </div>
        <div *ngIf="submitted && formControls.password.errors" class="error-message">
          <div *ngIf="formControls.password.errors.required">Please full out this field</div>
          <div *ngIf="formControls.password.errors.minlength">Make sure it's more than 8 characters</div>
        </div>
        <!-- confirm btn and register link -->
        <div class="row mt-3">
          <div class="col md-6">
            <input type="submit" class="btn btn-dark btn-min-width" value="Log in" />
          </div>
          <div class="col md-6 text-right">
            <label class="ml-2 pt-2">or <a routerLink='/account/register' class="text-dark">register new account</a></label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
