.my-text {
  background-color: rgba(0, 0, 0, 0.64);
  margin: 20px;
  padding: 8px;
  font-size: 1.5rem;
}

.img-container {
  position: relative;
  width: auto;
}

  .img-container img {
    width: 100%;
  }

.top-left {
  position: absolute;
  top: 20px;
  left: 20px;
}

.app-btn-min-width {
  min-width: 255px;
}

.app-btn {
  margin: 8px;
}
  .app-btn img {
    height: 27px;
    width: auto;
  }

.bottom {
position: absolute;
bottom: 20px;
}

.bottom-right {
}
.background {
  background: url('../../assets/img/blackjack.jpg');
}
.transparent {
  background-color: rgba(0, 0, 0, 0.81);
}
