<div class="row justify-content-center mt-5 pt-5">
  <div class="col-md-8 col-lg-6">
    <div class="panel-heading border-dark rounded-top p-2">
      Start game
    </div>
    <div class="rounded-bottom border-dark border-top-0 pt-3 p-4">
        <h3>{{ username }}</h3>
        <label>Select a count of bots: {{ model.countOfBots }}</label>
        <input type="range" class="custom-range" min=0 max=5 [(ngModel)]="model.countOfBots" />
        <button class="btn btn-dark btn-min-width mt-3" (click)="onStartGameClick()">Start</button>
    </div>
  </div>
</div>
