<div style="margin-bottom: 80px; margin-right: 50px;">
  <app-playing-card *ngFor="let card of cards" [cardSymbol]="getCardSymbol(card.name)" [suitImgSrc]="getImgSrc(card.suit)"></app-playing-card>
</div>
