<div class="row justify-content-center mt-5 pt-5">
  <div class="col-md-8 col-lg-6">
    <div class="block-header border-dark rounded-top p-2">
      Register
    </div>
    <div class="rounded-bottom border-dark border-top-0 pt-3 p-4">
      <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
        <!-- username input -->
        <div class="input-group mt-2">
          <div class="input-group-prepend">
            <span class="input-group-text span-min-width">Username</span>
          </div>
          <input type="text" class="form-control" formControlName="username" [(ngModel)]="model.userName">
        </div>
        <div *ngIf="submitted && formControls.username.errors" class="error-message">
          <div *ngIf="formControls.username.errors.required">Please full out this field</div>
          <div *ngIf="formControls.username.errors.minlength">Make sure it's more than 6 characters</div>
        </div>
        <!-- email input -->
        <div class="input-group mt-2">
          <div class="input-group-prepend">
            <span class="input-group-text span-min-width">Email</span>
          </div>
          <input type="text" class="form-control" formControlName="email" [(ngModel)]="model.email">
        </div>
        <div *ngIf="submitted && formControls.email.errors" class="error-message">
          <div *ngIf="formControls.email.errors.required">Please full out this field</div>
          <div *ngIf="formControls.email.errors.email">Email is invalid</div>
        </div>
        <!-- password input -->
        <div class="input-group mt-2">
          <div class="input-group-prepend">
            <span class="input-group-text span-min-width">Password</span>
          </div>
          <input type="password" class="form-control" formControlName="password" [(ngModel)]="model.password">
        </div>
        <div *ngIf="submitted && formControls.password.errors" class="error-message">
          <div *ngIf="formControls.password.errors.required">Please full out this field</div>
          <div *ngIf="formControls.password.errors.minlength">Make sure it's more than 8 characters</div>
        </div>
        <!-- confirm password input -->
        <div class="input-group mt-2">
          <div class="input-group-prepend">
            <span class="input-group-text span-min-width">Confirm</span>
          </div>
          <input type="password" class="form-control" formControlName="confirmPassword" [(ngModel)]="model.confirmPassword">
        </div>
        <div *ngIf="submitted && formControls.confirmPassword.errors" class="error-message">
          <div *ngIf="formControls.confirmPassword.errors.required">Please full out this field</div>
          <div *ngIf="formControls.confirmPassword.errors.mustMatch">The password and confirmation password do not match</div>
        </div>
        <!-- register button -->
        <div class="row justify-content-center mt-3">
          <input class="btn btn-dark md-12 btn-min-width" type="submit" value="Register" />
        </div>
      </form>
    </div>
  </div>
</div>

