.span-min-width {
  min-width: 100px;
}
.btn-min-width {
  min-width: 250px;
}
.block-header {
  background-color: #343a40;
  color: #fff;
}
.input-group-text {
  background-color: #343a40;
  color: #fff;
  border-color: #343a40;
}
.form-control {
  border-color: #343a40;
} 
.border-dark {
  border: 1px solid;
  border-color: #343a40;
}
.error-message {
  color: red;
}
